@inject IViewProductsByNameUseCase ViewProductsNyNameCase

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (products is not null && products.Count > 0)
        {
            @foreach (var inv in products)
            {
                // Child component for each record in Product
                <ProductListItemComponent Product="@inv"></ProductListItemComponent>
            }
        }
    </tbody>
</table>


@code {
    private List<Product>? products;

    [Parameter]
    public string? SearchProductFilter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        products = (await ViewProductsNyNameCase.ExecuteAsync(SearchProductFilter??string.Empty)).ToList();
    }
}
